<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="sticky">
        <section class="user-info mt-5 mb-2">
          <%= render 'shared/user_info' %>
        </section>
        <section class="user-profile">
          <%= render 'shared/user_profile' %>
        </section>
      </div>
    </div>

    <div class="col-md-6 mt">
      <% if @feed_items.any? %>
      <div class="d-flex justify-content-end mb-2">
        <%= render 'shared/search_form'%>
      </div>
      <%= render 'shared/feed' %>
      <% end %>
    </div>

  </div>
</div>