<div class="container text-white">
<div class="row">
<div class="col-md-6">
<section class="user-info mt-5 mb-2">
  <%= render 'shared/user_info' %>
</section>
<section class="user-profile">
  <%= render 'shared/user_profile' %>
</section>

</div>
<div class="col-md-6 mt">
<% if @feed_items.any? %>
<h4>投稿(<%= @feed_items.count %>)</h4>
<%= render 'shared/feed' %>
<% end %>
</div>
</div>
</div>