<a href="<%= user_path(dreampost.user.id) %>" class="prof-img">
  <% if dreampost.user.picture? %>
    <%= image_tag dreampost.user.picture.url %>
  <% else %>
    <%= image_tag 'NHM06uRh_400x400.jpg' %>
  <% end %>
</a>