<div class="dropdown">
  <button class="btn dropdown-toggle z-2" type="button" id="dropdownMenuButton" , data-toggle="dropdown">
    <i class="fas fa-chevron-down"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to "投稿する", dreamposts_path(dreampost: { user_id: current_user, content: object.title + "\n" + object.comment,
                                                        address: object.address, longitude: object.longitude, latitude: object.latitude }), class: 'dropdown-item', method: :post %>
    <%= link_to "削除する", object, class: 'dropdown-item', method: :delete,
                                        data: { confirm: "削除してよろしいですか？" } %>
  </div>
</div>